.badge {
    border-radius: 8px;
    color: #fff;
    padding: 1px 6px;
    width: fit-content;
    &.success{
        background-color: rgb(47, 208, 47);
    }
    &.danger{
        background-color: rgb(211, 24, 24);
    }
    &.pending{
        background-color: rgb(190, 190, 29);
    }
    &.fade{
        background-color: rgb(163, 154, 154);
    }
}


