.initialData {
  & > div {
    margin: 10px 0;
    padding-left: 5px;
  }
  span {
    font-weight: bold;
  }
  .title {
    display: flex;
    font-weight: bold;
    font-size: 1rem;
    color: #338ef5;
    padding: 10px 5px;
  }
  .status {
    display: flex;
    span {
      margin-right: 10px;
      font-weight: normal;
    }
  }
  .updated {
    span > span{
      color: blue;
      cursor: pointer;
    }
  }
}
