.noPageFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  width: 100%;
  img {
    max-height: 120px;
    padding-bottom: 3rem;
  }
}
